@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

 @layer utilities {
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
      }
    }
=======
.clip-hexagon {
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
}

>>>>>>> d7de938c4f605c157191e65fa69ab5f8d894646b
